@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(33, 100%, 94%, 1);
        --x-0: 41%;
        --y-0: 8%;
        --s-start-0: 0%;
        --s-end-0: 70.42372406653638%;
        --c-3: hsla(340, 100%, 76%, 1);
        --x-3: 80%;
        --y-3: 50%;
        --s-start-3: 0%;
        --s-end-3: 50%;
        --c-4: hsla(89.69696969696969, 69%, 71%, 1);
        --x-4: 28%;
        --y-4: 66%;
        --s-start-4: 0%;
        --s-end-4: 75.63822224455059%;
        --c-6: hsla(215.7352941176471, 100%, 76%, 1);
        --x-6: 23%;
        --y-6: 33%;
        --s-start-6: 0%;
        --s-end-6: 90.32224439225106%;
    }

    50% {
        --c-0: hsla(33, 100%, 94%, 1);
        --x-0: 71%;
        --y-0: 97%;
        --s-start-0: 5.89622641509434%;
        --s-end-0: 63.24518671575582%;
        --c-3: hsla(340, 100%, 76%, 1);
        --x-3: 1%;
        --y-3: 75%;
        --s-start-3: 0%;
        --s-end-3: 50%;
        --c-4: hsla(89.69696969696969, 69%, 71%, 1);
        --x-4: 91%;
        --y-4: 97%;
        --s-start-4: 0%;
        --s-end-4: 75.63822224455059%;
        --c-6: hsla(215.7352941176471, 100%, 76%, 1);
        --x-6: 14%;
        --y-6: 65%;
        --s-start-6: 0%;
        --s-end-6: 90.32224439225106%;
    }

    100% {
        --c-0: hsla(33, 100%, 94%, 1);
        --x-0: 99%;
        --y-0: 47%;
        --s-start-0: 5.89622641509434%;
        --s-end-0: 63.24518671575582%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(33, 100%, 94%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 41%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 70.42372406653638%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(189, 5%, 73%, 0.84)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 39%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 94.17889613025594%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(56.91176470588259, 89%, 95%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(340, 100%, 76%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(89.69696969696969, 69%, 71%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 28%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 66%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 75.63822224455059%
}

@property --c-5 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(241.99999999999946, 11%, 67%, 1)
}

@property --x-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --y-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%
}

@property --s-start-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --c-6 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(215.7352941176471, 100%, 76%, 1)
}

@property --x-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 23%
}

@property --y-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 33%
}

@property --s-start-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90.32224439225106%
}

@property --c-7 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 100%, 1)
}

@property --x-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --y-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 51%
}

@property --s-start-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5.89622641509434%
}

@property --s-end-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 44.263358098156054%
}

.background {
    --c-0: hsla(33, 100%, 94%, 1);
    --x-0: 41%;
    --y-0: 8%;
    --c-1: hsla(189, 5%, 73%, 0.84);
    --x-1: 100%;
    --y-1: 39%;
    --c-2: hsla(56.91176470588259, 89%, 95%, 1);
    --x-2: 0%;
    --y-2: 50%;
    --c-3: hsla(340, 100%, 76%, 1);
    --x-3: 80%;
    --y-3: 50%;
    --c-4: hsla(89.69696969696969, 69%, 71%, 1);
    --x-4: 28%;
    --y-4: 66%;
    --c-5: hsla(241.99999999999946, 11%, 67%, 1);
    --x-5: 80%;
    --y-5: 100%;
    --c-6: hsla(215.7352941176471, 100%, 76%, 1);
    --x-6: 23%;
    --y-6: 33%;
    --c-7: hsla(0, 0%, 100%, 1);
    --x-7: 50%;
    --y-7: 51%;
    ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; /* Ensures it fills the full height of the screen */
    overflow: hidden; 

    background-color: hsla(0, 0%, 100%, 1);
    background: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)), radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal;
    background-size: cover;
}